.gameArea {
    background-color: darkgreen;
    width: 880px;
    height: 800px;
}

.deck {
    height: 200px;
    width: 75px;
    background-image: url('../blackjack/cards/cardBack.jpeg');
    background-size: auto;
}

.playerHand {
    color: blue;
    display: inline;
}

.computerHand {
    color: red;
}