body {
    background-color: darkblue;
    text-align: center;
    color: yellow;
    align-items: center;
}

#qCard {
    z-index: 1;
    position: fixed;
    background-color: red;
    display: none !important;
    margin: auto;
}

div {
    border: 1px solid #ffff00;
    
}

section {
    align-content: center;
}

article {
    width: 750px;
    align-items: center;
}

button {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    margin: auto;
    font-weight: bolder;
    color: darkgoldenrod;
    background-color: darkblue;
    border: 5px solid black;
}

