@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: darkblue;
    text-align: center;
    color: yellow;
    align-items: center;
    font-family: Helvetica;
}

#qCard {
    z-index: 1;
    position: fixed;
    background-color: red;
    display: none;
    margin: 50px auto;
    width: 820px;
    height: 800px;
    top: 0;
    float: left;
}

#qText {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-content: center;
}

div {
    border: 1px solid #ffff00;
}

section {
    align-content: center;
}

article {
    width: 750px;
    align-items: center;
}

button {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    margin: auto;
    font-weight: bolder;
    color: darkgoldenrod;
    background-color: darkblue;
    border: 5px solid black;
    cursor: pointer;
}

.aButtons {
    width: 200px;
    font-size: 30px;
}

.box {
    display: inline-flex;
    width: 110px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    margin: auto;
    border: 5px solid black;
    word-wrap: break-word;
    color: white;
}

h1 {
    font-family: 'Russo One';
    font-size: 48px;
}