body {
    background-color: darkblue;
    text-align: center;
    color: yellow;
    align-items: center;
    font-family: Helvetica;
}

#qCard {
    z-index: 1;
    position: fixed;
    background-color: red;
    display: none;
    margin: 50px auto;
    width: 820px;
    height: 800px;
    top: 0;
}

#qText {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-content: center;
}

div {
    border: 1px solid #ffff00;
    
}

section {
    align-content: center;
}

article {
    width: 750px;
    align-items: center;
}

button {
    display: table-cell;
    vertical-align: middle;
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    margin: auto;
    font-weight: bolder;
    color: darkgoldenrod;
    background-color: darkblue;
    border: 5px solid black;
    cursor: pointer;
}

.box {
    display: inline;
    width: 120px;
    height: 100px;
    text-align: center;
    font-size: large;
}