body {
    background-color: darkblue;
    text-align: center;
    color: yellow;
}

section {
    display: inline-block;
}

div {
    border: 1px solid #ffff00;
}

.box {
    width: 120px;
    height: 100px;
}

.categories {
    grid-template-columns: 6 auto;
    display: block;
}

